html, body {
    width: 100%;
    height: 100%;
}

.map {
    width: 100%;
    height: 100%;
}

.log {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 80px;
    background: rgba(0,0,0,0.7);
    padding: 10px 45px 10px 10px;
}

.log p {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 24px;
    margin: 10px;
    float: left;
}

.speak {
    position: absolute;
    right: 5px;
    top: 8px;
    width: 40px;
    height: 40px;
    background: transparent url(../images/micro.png) no-repeat 50% 50%;
    border: 0;
    color: transparent;
    cursor: pointer;
}

.speak.recording {
    background: transparent url(../images/micro-recoerding.png) no-repeat 50% 50%;
}

.searchbox {
    position: absolute;
    width: 400px;
    left: 50%;
    margin-left: -222px;
    border-radius: 4px;
    background: #efefef;
    border: 5px solid rgba(0,0,0,0.2);
    top: 60px;
    padding-right: 45px;
}

.searchbox input[type=text] {
    display: block;
    margin: 10px auto;
    width: 370px;
    font-size: 24px;
    padding: 5px;
    border: 0;
    border-radius: 3px;
}

/*Custom map UI*/
.nm_bubble_bg.nm_contentBG {
    background: #000F1A;
    color: #fff;
    text-decoration: none;
    border: 1px solid #000F1A;
}
.nm_bubble_content {
    font-family: 'Raleway', serif !important;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.3);
    font-size: 1rem !important;
    padding: 10px 20px !important;
}

.nm_bubble_controls a {
    /*color: #000F1A !important;*/
}